.titulo {
    /*color: #ff6d43;*/
    color: #ececed;
  }
section{
    background-color: #ececed;
}
.filters {
    color: #ff6d43;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#col {
    background-color: #ececed; /* #CEE8FA;*/
    color: #002D3C;
    font-size: medium;
    border-radius: 5px;
}

.tags{
    color: #ff6d43;
}
.border-tag{
    border: 1px solid #002D3C; /* Asegúrate de que el color y el grosor están definidos */
}

.boton{
    color: white;
    background-color: #ff6d43;
}

.search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
}
  
input#search-bar{
    font-size: 1rem;
    border: 2px solid #D0CFCE;
    outline: none;
    &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
        opacity: 0;
    }
    &::-moz-placeholder {
        transition: opacity 0.45s ease; 
        opacity: 0;
    }
    &:-ms-placeholder {
    transition: opacity 0.45s ease; 
        opacity: 0;
    }    
    }
}

