<section class="flex flex-wrap mainbox ml-10 mr-10 mb-4 rounded-lg relative">
  <div class="flex flex-wrap">
    <div class="p-1 flex flex-wrap flex-auto flex-col gap-2">
      <div class="mt-2 ml-2 filters font-bold pb-2">Selection of filters</div>
      <div class="ml-2 flex flex-wrap gap-4">
        <div>
          <select class="filters" name="col" id="col" [(ngModel)]="selectedFilter">
            <option value="" disabled selected>Select filter</option>
            <option value="status">Status</option>
            <option value="bench">Bench</option>
            <option value="ciudad">Ciudad</option>
            <option value="jornada">Jornada</option>
            <option value="grupo">Groups</option>
            <option value="n4">N4</option>
            <option value="categoria">Categoria</option>
            <option value="scr">SCR</option>
            <option value="job_technology">Job Tecnology Profile</option>
            <option value="sk_bus_skill">Business Skill</option>
            <option value="sk_certif">Certificate</option>
            <option value="sk_lenguage">Language</option>
            <option value="sk_method">Method</option>
            <option value="sk_tecnology">Tecnology</option>
            <option value="sk_tecskill">Tecnology Skills</option>
          </select>
        </div>
        <div class="flex flex-wrap flex-row">
          <div class="flex flex-wrap flex-col">
            <input
              type="text"
              [formControl]="tagControl"
              id="small-input"
              class="block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs"
              (input)="onInputChange()"
            />
            <!-- Lista de opciones de autocompletado -->
            <div *ngIf="filterOptions.length > 0" class="autocomplete-menu">
              <div *ngFor="let option of filterOptions" class="autocomplete-option" (click)="selectOption(option)">
                {{ option }}
              </div>
            </div>
          </div>
          <div class="flex flex-col ml-3">
            <div class="flex items-center">
              <button class="boton text-white py-1 px-2 font-bold rounded bottom-4 right-4 m-3" (click)="applyFilter()">Apply</button>
              <button class="boton text-white py-1 px-2 font-bold rounded bottom-4 right-4 m-3" (click)="addTag()">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid m-1 flex-auto">
    <div class="grid gap-1 mt-4 border-l-orange-500 border-4 border-r-0 border-b-0 border-t-0" style="grid-template-columns: repeat(4, 1fr);">
      <div *ngFor="let tag of tags" class="ml-2">
        <span class="inline-flex items-center px-2 py-1 me-2 text-sm font-medium text-black bg-white border-tag rounded-md">
          {{ tag }}
          <button
            type="button"
            (click)="removeTag(tag)"
            class="ml-1 inline-flex items-center px-1.5 py-0.5 border border-transparent text-xs leading-4 font-medium rounded text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
          >
            &times;
          </button>
        </span>
      </div>
    </div>
  </div>
</section>
