<h2 class="titulo text-center">List of employees</h2>

<section class="mainbox flex-1 ml-10 mr-10 mb-10 bg-white rounded-lg relative">
    
    <div class="wrapper p-20 relative">
        <table class="tabla absolute top-0 left-0 table-auto">
            <thead class="cabecera">
                <tr>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Apellidommmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Elsa</td>
                    <td>Pato</td>
                    <td>PRUEBA1</td>
                </tr>
                <tr>
                    <td>Aquiles</td>
                    <td>Mato</td>
                    <td>PRUEBA2</td>
                </tr>
            </tbody>
        </table>
    </div>
    
 
</section>

