.titulo {
  color: #ff6d43;
}
.tabla {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}
/*
table tbody {
    display: table;
    width: 100%;
}*/
/*
div.wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}*/
th,td {
  border-bottom: 2px solid black;
  text-align: left;
}
.cabecera {
  color: white;
  background-color: #ff6d43;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px; /* Altura más pequeña para la barra */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FF6D43;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FF6D43;
}
