<div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col items-center">
      <h3 class="text-md font-bold text-foreground">Lista de empleados</h3>
      <span class="text-xs text-muted-foreground">Updated 37 minutes ago</span>
    </div>
    <button class="flex-none rounded-md bg-card px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:bg-muted hover:text-foreground">
      Pack de filtros favoritos
    </button>
  </div>

  <div class="relative overflow-x-auto">
    <table class="w-full table-auto">
      <thead class="cabecera text-xs uppercase text-muted-foreground">
        <tr>
          <th class="py-3 text-left">Gin</th>
          <th class="py-3 text-left">Name</th>
          <th class="py-3 text-left">Subgroup</th>
          <th class="py-3 text-left">Status</th>
          <th class="py-3 text-left">Bench</th>
          <th class="py-3 text-left">Das</th>
          <th class="py-3 text-left">Ciudad</th>
          <th class="py-3 text-left">Agrupacion</th>
          <th class="py-3 text-left">Line Manager</th>
          <th class="py-3 text-left">Jornada</th>
          <th class="py-3 text-left">Gcm</th>
          <th class="py-3 text-left">Categoria</th>
          <th class="py-3 text-left">Nivel GCM</th>
          <th class="py-3 text-left">SCR</th>
          <th class="py-3 text-left">Grupo</th>
          <th class="py-3 text-left">N4</th>
          <th class="py-3 text-left">Job Technology</th>
          <th class="py-3 text-left">Skills</th>
          <th class="py-3 text-left">Role</th>
          <th class="py-3 text-left">RLT</th>
          <th class="py-3 text-left">Sk Languages</th>
          <th class="py-3 text-left">Sk Methods</th>
          <th class="py-3 text-left">Sk Tech Skills</th>
          <th class="py-3 text-left">Sk Certifs</th>
          <th class="py-3 text-left">Sk Technologies</th>
          <th class="py-3 text-left">Sk Bus Skills</th>
        </tr>
      </thead>
      <tbody *ngFor="let empleado of empleados">
        <tr class="gap-5 text-foreground">
          <td class="fixed-height">{{ empleado.gin }}</td>
          <td class="fixed-height">{{ empleado.name }}</td>
          <td class="fixed-height">{{ empleado.subgroup }}</td>
          <td class="fixed-height">{{ empleado.status }}</td>
          <td class="fixed-height">{{ empleado.bench ? empleado.bench.toString().split('T')[0] : '' }}</td>
          <td class="fixed-height">{{ empleado.das }}</td>
          <td class="fixed-height">{{ empleado.ciudad }}</td>
          <td class="fixed-height">{{ empleado.agrupacion }}</td>
          <td class="fixed-height">{{ empleado.lineManager }}</td>
          <td class="fixed-height">{{ empleado.jornada }}</td>
          <td class="fixed-height">{{ empleado.gcm }}</td>
          <td class="fixed-height">{{ empleado.categoria }}</td>
          <td class="fixed-height">{{ empleado.nivelgcm }}</td>
          <td class="fixed-height">{{ empleado.scr }}</td>
          <td class="fixed-height">{{ empleado.grupo.grupos }}</td>
          <td class="fixed-height">{{ empleado.n4 }}</td>
          <td class="fixed-height">{{ empleado.jobTechnology }}</td>
          <td class="fixed-height">{{ empleado.skills }}</td>
          <td class="fixed-height">
            <div class="scrollable">{{ empleado.role.role }} - {{ empleado.role.nivel }}</div>
          </td>
          <td class="fixed-height">{{ (empleado.rlt) ? 'YES' : '' }}</td>
          <td class="fixed-height">
            <ul class="scrollable">
              <ng-container *ngFor="let skLenguages of empleado.skLenguages">
                <li *ngIf="skLenguages.sklenguage != ''">{{ skLenguages.sklenguage }} - {{ skLenguages.nivel }}</li>
              </ng-container>
            </ul>
          </td>
          <td class="fixed-height">
            <ul class="scrollable">
              <ng-container *ngFor="let skMethods of empleado.skMethods">
                <li *ngIf="skMethods.skmethod != ''">{{ skMethods.skmethod }} - {{ skMethods.nivel }}</li>
              </ng-container>
            </ul>
          </td>
          <td class="fixed-height">
            <ul class="scrollable">
              <ng-container *ngFor="let skTechSkills of empleado.skTechSkills">
                <li *ngIf="skTechSkills.skTechSkill != ''">{{ skTechSkills.skTechSkill }} - {{ skTechSkills.nivel }}</li>
              </ng-container>
            </ul>
          </td>
          <td class="fixed-height">
            <ul class="scrollable">
              <ng-container *ngFor="let skCertifs of empleado.skCertifs">
                <li *ngIf="skCertifs.skCertif != ''">{{ skCertifs.skCertif }} - {{ (skCertifs.external) ? 'external' : 'internal' }}</li>
              </ng-container>
            </ul>
          </td>
          <td class="fixed-height">
            <ul class="scrollable">
              <ng-container *ngFor="let skTechnologies of empleado.skTechnologies">
                <li *ngIf="skTechnologies.sktechnology != ''">{{ skTechnologies.sktechnology }} - {{ skTechnologies.nivel }}</li>
              </ng-container>
            </ul>
          </td>
          <td class="fixed-height">
            <ul class="scrollable">
              <ng-container *ngFor="let skBusSkills of empleado.skBusSkills">
                <li *ngIf="skBusSkills.skBusSkill != ''">{{ skBusSkills.skBusSkill }} - {{ skBusSkills.nivel }}</li>
              </ng-container>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>